<div class="pre-footer padt-75">
  <div class="container">
    <div class="pf-wrapper">
      <div class="head">
        <h2>{{ section.settings.head }}</h2>
      </div>
      <div class="para">
        <p>{{ section.settings.para }}</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="head">
        {{ section.settings.footHead }}
      </div>
      <div class="newsletter">
        <input type="email">
        <input type="submit">
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading",
        "default": "HydrationCo"
      }, {
        "type": "richtext",
        "id": "para",
        "label": "Paragraph",
        "default": "<p>we make products that focus on <strong>healing through hydration</strong> with mostly <strong>herbal ingredients</strong></p>"
      }, {
        "type": "richtext",
        "id": "footHead",
        "label": "Footer Text",
        "default": "<p>Because. We. Are. Your. Friends.<br>10% off your first order over ₹2000.</p>"
      }
    ]
  }
{% endschema %}