<section class="home-banner">
  <img
    src="https://cdn.shopify.com/s/files/1/0651/3285/5486/files/Frame_2_1.png?v=1712502038"
    alt=""
    class="img">
  {% comment %} <div class="container">
            <div class="home-wrapper">
              <div class="home-left">
                <div class="home-head">
                  <h1>{{ section.settings.ban_head }}</h1>
                </div>
                <div class="home-para">{{ section.settings.ban_para }}</div>
                <div class="home-cta">
                  <a href="{{ section.settings.cta_url.url }}" class="custom-btn">{{ section.settings.cta_txt }}</a>
                </div>
              </div>
              <div class="home-right"></div>
            </div>
      </div> {% endcomment %}
</section>


{% schema %}
  {
    "name": "Home Banner",
    "settings": [
      {
        "type": "text",
        "id": "ban_head",
        "label": "Banner Heading"
      }, {
        "type": "richtext",
        "id": "ban_para",
        "label": "Banner Paragraph"
      }, {
        "type": "text",
        "id": "cta_txt",
        "label": "CTA Text"
      }, {
        "type": "page",
        "id": "cta_url",
        "label": "Select CTA Action"
      }
    ]
  }
{% endschema %}