<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<section class="insta-section">
  <div class="container-fluid">
    <div class="insta-head">
      <h1>{{ section.settings.head }}</h1>
      {{ section.settings.para }}
    </div>
    <div class="insta-wrap">
      <ul class="bxslider">
        {% for block in section.blocks %}
          <li class="img-slide">
            <img src="{{ block.settings.img | img_url: 'master' }}" alt=""></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<script>
  $('.bxslider').bxSlider({
    minSlides: 4,
    maxSlides: 4,
    slideWidth: 170,
    slideMargin: 10,
    ticker: true,
    speed: 9000
  });
</script>

{% schema %}
  {
    "name": "Ticker Section",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      }, {
        "type": "richtext",
        "id": "para",
        "label": "subhead"
      }
    ],
    "blocks": [
      {
        "name": "Ticker",
        "type": "ticker",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Pick Image"
          }
        ]
      }
    ]
  }
{% endschema %}