<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
<section class="insta-section pad-130">
  <div class="container-fluid">
    <div class="insta-head">
      <h1>{{ section.settings.head }}</h1>
      {{ section.settings.para }}
    </div>
    <div class="insta-wrap">
      <div class="splide">
        <div class="splide__track" id="splide-track">
          <ul class="splide__list">
            {% for block in section.blocks %}
              <li class="splide__slide" style="padding-top: {{ section.settings.img_height }}%">
                <img src="{{ block.settings.img | img_url: 'master' }}" alt="">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function () {
  // Function to initialize Splide for a given selector
  function initializeSplide(selector) {
    new Splide(selector, {
      type   : 'loop',
      drag   : 'free',
      focus  : 'center',
      arrows: false,
      pagination: false,
      perPage: 3,
      breakpoints: {
            1024: {
              perPage: 3,
             
            },
            767: {
              perPage: 2,
          
            },
            640: {
              perPage: 1,
        
            },
          },
      autoScroll: {
        speed: 1,
      },
    }).mount( window.splide.Extensions );
  }

  // Call initializeSplide function for each slider
  var sliders = document.querySelectorAll('.splide');
  sliders.forEach(function(slider) {
    initializeSplide(slider);
  });
});

</script>

{% schema %}
  {
    "name": "Ticker Section",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      }, {
        "type": "richtext",
        "id": "para",
        "label": "subhead"
      },
      {
        "type": "range",
        "id": "img_height",
        "label": "Image Height",
        "default": 100,
        "min":100,
        "max":200
      }
    ],
    "blocks": [
      {
        "name": "Ticker",
        "type": "ticker",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Pick Image"
          }
        ]
      }
    ]
  }
{% endschema %}