<section class="dont-work">
  <div class="dw-top">
    <img src="{{ section.settings.product_img |  img_url: 'master' }}" alt="">
  </div>
  <div class="container">
    <div class="dw-wrapper">
      <div class="dw-head">
        <h2>social drinking is on the rise, and so are<span>
            hangovers</span>
        </h2>
      </div>
      <div class="dw-content"></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Dont Work Solutions",
    "settings": [
      {
        "type": "image_picker",
        "id": "product_img",
        "label": "Product Image"
      }, {
        "type": "text",
        "id": "haeding",
        "label": "Heading"
      }
    ]
  }
{% endschema %}