<section class="dont-work">
  <div class="dw-top">
    <img src="{{ section.settings.product_img |  img_url: 'master' }}" alt="">
  </div>
  <div class="container"></div>
</section>

{% schema %}
  {
    "name": "Dont Work Solutions",
    "settings": [
      {
        "type": "image_picker",
        "id": "product_img",
        "label": "Product Image"
      }, {
        "type": "text",
        "id": "haeding",
        "label": "Heading"
      }
    ]
  }
{% endschema %}