<section class="usp-section pad-130">
  <div class="container">
    <div class="usp-wrapper">
      <div class="usp-head">
        {{ section.settings.head }}
      </div>
      <div class="usp-img">
        <img
          src="{{ section.settings.img |  img_url: 'master' }}"
          alt=""
          class="icon">
      </div>
      <div class="usp-motto">
        <ul>
          <li>PARTY</li>
          <li>Sleep</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0651/3285/5486/files/undo-logi.png?v=1712491777" alt=""></li>
          <li>Repeat</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "USP Section",
    "settings": [
      {
        "type": "richtext",
        "id": "head",
        "label": "HEading"
      }, {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      }
    ]
  }
{% endschema %}