html{
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility !important;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FDF9F3;
    font-family: "Poppins", sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility !important;
}
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
button:focus-visible, input:focus-visible{
    outline: none;
}
button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.pad-130{
    padding-top: 75px;
    padding-bottom: 75px;
}
.padb-75{
    padding-bottom: 75px;
}
.padt-75{
    padding-top: 75px;
}
.homepage {
    text-align: center;
    padding-top: 10em;
}
.logo {
    width: 25%;
}
.container-fluid{
    padding: 0 3%;
}
h1{
    font-size: clamp(32px, 5vw, 60px);
    color: #171B34;
    line-height: 95%;
    font-weight: 700;
}

h2{
    font-size: clamp(24px, 6vw, 35px);
    color: #171B34;
    line-height: 95%;
    font-weight: 700;
}
h2.all-caps{
    text-transform: uppercase;
}
h3{
    font-size: clamp(24px, 5vw, 42px);
    color: #171B34;
    line-height: 95%;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
h4{
    font-size: clamp(16px, 5vw, 36px);
    color: #171B34;
    line-height: 95%;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
@keyframes hue {
0% {
    filter: hue-rotate(60deg);
}
100% {
    filter: hue-rotate(-30deg);
}
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img.ab{
    position: absolute;
    inset: 0;
}


/* Navbar */

.nav{
    padding: 24px 0;
    position: absolute;
    top: 0;
    z-index: 99999;
}
.nav-left a {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E1E20;
}
.nav-logo {
    width: 15%;
}
.nav-logo img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.nav-cart {
    width: 40px;
    height: 40px;
}
.nav-cart svg {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
}
.nav-wrapper .nav-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
}

/* Navbar Ends */

/* Banner Section */
section.home-banner{
    height: 100vh;
    position: relative;
    z-index: 2;
}
section.home-banner:before {
    content: "";
    background-image: url('https://cdn.shopify.com/s/files/1/0651/3285/5486/files/undo-it-gradient.webp?v=1710761802');
    background-size: 100% 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: hue 6s infinite alternate ease-in-out;
    z-index: -1;
}

/* Banner Section Ends */

/* Other Product Section */

.dw-head {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 60px;
}
.dw-head h2 span.hang{
    transform: rotate(11deg) translateY(18px);
    display: inline-block;
    margin-left: 9px;
}
.dw-wrapper{
    margin-top: 120px;
}
.dw-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.dw-content .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.dw-content .item .dwi-img{
    width: 90px;
    height: 90px;
    display: flex;
}
.dw-content .item .dwi-head{
    margin-top: 5px;
}
.dw-content .item .dwi-head p{
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
}
.dw-content .item .dwi-para p{
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    text-wrap: pretty;
}
.dw-content .item .dwi-para{
    margin-top: 40px;
}

/* Other Product Section Ends */

/* Why Undo */

.wuw-head h3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.wuw-head h3 span.undo-img {
    display: inline-flex;
    width: 180px;
}
.wuw-wrapper{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.wuw-wrapper .item{
    display: flex; 
    justify-content: space-between;
    position: relative;
}
.wuw-wrapper .item .left-head{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    justify-content: flex-start;
    height: 100%;
    position: sticky;
    top: 10px;
}
.wuw-wrapper .item .left-head p{
    font-size: 20px;
    font-weight: 700;
    line-height: 200%;
    text-align: right;
}
.wuw-wrapper .item .right-con{
    width: 50%;
}
.wuw-wrapper .item:first-child .right-con p{
    font-size: 35px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}
.wuw-wrapper .item .right-con p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}
.wuw-wrapper .item .right-con p strong{
    font-size: 35px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
}

/* Why Undo Ends */

/* Usp Section */

.usp-head p{
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    text-align: right;
}
.usp-wrapper{
    display: flex;
    align-items: stretch;
    position: relative;
    height: 100%;
    justify-content: space-between;
}
.usp-section{
    height: 82vh;
}
.usp-section .container{
    height: 100%;
}
.usp-img {
    position: absolute;
    inset: 0;
    width: 45%;
    margin: 0 auto;
    z-index: -1;
}
.usp-head{
    width: 50%;
}
.usp-motto{
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.usp-motto li img{
    width: 120px;
}
.usp-motto li{
    font-size: 35px;
    font-weight: 400;
    line-height: 170%;
    text-align: left;

}

/* Faq Page */
.faq-grad-img {
    position: relative;
    padding-top: 30%;
}
.faq-wrapper .faq-con{
    width: 80%;
    margin: 0 auto;
}
.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab button{
    flex: 0 0 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 20px;
    line-height: 200%;
    padding: 20px 45px 20px 45px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    transition: 0.6s all ease;
    min-height: 100px;
}
.tab button.active{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.13), inset 0 0 0 2px #EECE25;
}
.tab button svg{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    transition: 0.6s all ease;
}
.tab button.active svg{
    stroke: #EECE25;
}
.faq-wrapper{
    margin-top: -40px;
    position: relative;
}
.faq-ques svg {
    width: 30px;
    height: 30px;
}
.faq-ques {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabcontent{
    display: flex;
    flex-direction: column;
}
.faq-ans{
    display: none;
    padding-top: 28px;
    padding-left: 25px;
    max-width: 85ch;
}
.faq-ans p{
    font-size: 1.2rem;
}
.faq-block{
    padding: 50px 0;
    border-bottom: 1px solid #222;
}
.faq-content {
    margin-top: 100px;
}
.faq-ques{
    cursor: pointer;
}
.faq-block .faq-ques svg{
    transform: rotate(0deg);
    transition: 0.6s all ease;
    flex-shrink: 0;
}
.faq-block.active .faq-ques svg{
    transform: rotate(-180deg);
}
/* Faq Page Ends */